<% provide(:title, 'New match result') %> <h1>New match result</h1>
<div class="row">
	<div class="span6 offset3">
		<%= render 'shared/error_messages', e: @result %>
		<table class="table table-condensed">
			<tr><%= content_tag(:td, "Match number") %><%= content_tag(:td, @result.match.match_no) %></tr>
			<tr><%= content_tag(:td, "Tournament stage") %><%= content_tag(:td, @result.match.tournament_stage) %></tr>
			<tr><%= content_tag(:td, "Venue") %><%= content_tag(:td, @result.match.venue) %></tr>
			<tr><%= content_tag(:td, "Match date") %><%= content_tag(:td, @result.match.match_date.in_time_zone('Europe/Warsaw').strftime(I18n.t :default, scope: 'date.formats')) %></tr>
		</table>
		<%= form_for [@match, @result] do |f| %>
			<%= render 'result_fields', f: f, :locals => {:match => @result.match} %>
			<%= f.hidden_field :match_id, :value => @result.match.id %>
			<br />
			<div class="input-append">
				<%= f.submit "Submit result", class: "btn btn-large btn-primary" %>
				<%= link_to("Cancel", matches_path, class: "btn btn-large") %>
			</div>
		<% end %>
	</div>
</div>