<% provide(:title, "Edit match") %> <h1>Update match data</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@match) do |f| %>
			<%= render 'shared/error_messages', e: @match %>
			<%= f.label :match_no %>
			<%= f.text_field :match_no %>
			<%= f.label :tournament_stage %>
			<%= f.text_field :tournament_stage %>
			<%= f.label :venue %>
			<%= f.text_field :venue %>
			<%= f.label :match_date %>
			<%= f.text_field :match_date, :value => @match.match_date.in_time_zone('Europe/Warsaw').strftime(I18n.t :default, scope: 'date.formats') %>
			<%= f.label :home_team_id %>
			<%= collection_select(:match, :home_team_id, Team.all.sort_by {|t| t.name}, :id, :name) %>
			<%= f.label :away_team_id %>
			<%= collection_select(:match, :away_team_id, Team.all.sort_by {|t| t.name}, :id, :name) %>
			<div class="input-append">
				<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
				<%= link_to("Cancel", matches_path, class: "btn btn-large") %>
			</div>
		<% end %>
	</div>
</div>