<% provide(:title, 'Matches') %> <h1>Matches</h1>
<div class="center-block">
<table class="table table-hover">
	<% @matches.group_by(&:tournament_stage).each do |stage, stage_matches| %>
	<tr>
		<th colspan="10"></th>
	</tr>
	<tr><%= content_tag(:td,
			  content_tag(:a,
			  	stage, 
			  	id: stage.gsub(/\s+/, ""), 
			  	style: "padding-top: 50px; margin-top: -50px; text-decoration: none; color: white;"), 
			  colspan: "10", 
			  class: "stage_name") %></tr>
	<% if !stage_matches.nil? %>
		<tr>
			<th>Match No</th>
			<th>Date</th>
			<th class="home_team">Home Team</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>Away Team</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% stage_matches.sort_by {|match| match.match_no}.each do |match| %>
			<tr>
				<%= content_tag(:td, match.match_no) %>
				<%= content_tag(:td, match.match_date.in_time_zone('Europe/Warsaw').strftime(I18n.t :default, scope: 'time.formats')) %>
				<%= content_tag(:td, match.home_team.name, class: "home_team " + match.home_team_result) %>
				<%= content_tag(:td, match.result.nil? ? '-' : match.result.home_team_goals_90mins, class: "result") %>
				<%= content_tag(:td, ':', class: "result") %>
				<%= content_tag(:td, match.result.nil? ? '-' : match.result.away_team_goals_90mins, class: "result") %>
				<%= content_tag(:td, match.away_team.name, class: "away_team " + match.away_team_result) %>
				<% if current_user.admin? %>
					<%= content_tag(:td, link_to("Edit match", edit_match_path(match), class: "btn btn-default btn-small btn-block"), class: "button-col") %>
					<% if match.result.nil? %>
						<%= content_tag(:td, link_to("Set result", new_match_result_path(match), class: "btn btn-default btn-small btn-block"), class: "button-col") %>
					<% else %>
						<%= content_tag(:td, link_to("Edit result", edit_match_result_path(match, match.result), class: "btn btn-default btn-small btn-block"), class: "button-col") %>
					<% end %>
				<% else %>
					<%= content_tag(:td, '') %>
					<%= content_tag(:td, '') %>
				<% end %>
				<% if match.result.nil? %>
					<%= content_tag(:td, link_to("My bet", edit_bet_path(match), class: "btn btn-primary btn-small btn-block"), class: "button-col") %>
				<% else %>
					<td></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
	<% end %>
</table>
</div>
